<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Helorank | Welcome</title>
    <meta name="description" content="Track every game you play. Create power rankings among your friends.">
    <meta name="viewport" content="width=device-width">     
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
    <link rel="stylesheet" href="../docs/assets/css/bootstrap.css">
    <style>
      body {
        padding-bottom: 30px;
      }
    </style>
    <link rel="stylesheet" href="../docs/assets/css/responsive.css">
    <link rel="stylesheet" href="../docs/assets/css/main.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-static-top"> <!--.navbar-->
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Home">
            <img src="static/img/signature-100x25.png">
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!-- Add active classes -->
              <li><a href="#Tour">How it Works</a></li>
              <li><a href="#AboutUs">About Us</a></li>
              <li><a href="#Contact">Contact</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#SignUp">Sign up</a></li>
              <li class="divider-vertical"></li>
              <li>
              	<form class="navbar-form">
                  <a class="btn" href="login.html">Log in</a>
                </form>
              </li>
            </ul>    
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> <!--/.navbar -->
<!--templates-->    

    <div id="splash">
      <img src="static/img/welcome/welcome-splash.jpg">
    </div>
    <div class="container">
      <div id="signup">
        <div class="row">
          <div class="span5 offset6">
            <h2>Power rank your friends. Track every game.</h2>
            <div class="row">
              <div class="span4">
                <form>
                  <input id="fb-signup" class="btn btn-block btn-facebook" type="submit" value="Sign up via Facebook">
                </form>
              </div>
            </div>
            <div class="row">
              <div class="span4">
                <form>
                  <input id="tw-signup" class="btn btn-block btn-twitter" type="submit" value="Sign up via Twitter">
                </form>
              </div>
            </div>
            <div class="row">
              <div class="span4 text-center helper-signup">
                OR
              </div>
            </div>
            <div class="row">
              <div class="span4">
                <form>
                  <input class="input-block-level" type="text" placeholder="Username">
                  <input class="input-block-level" type="text" placeholder="Email">
                  <input class="input-block-level" type="text" placeholder="Password">
                  <input class="input-block-level" type="text" placeholder="Confirm Password">
                  <input id="email-signup" class="btn btn-inverse btn-block" type="submit" value="Sign up via email">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container splashed">

      <div class="featurette">
        <img class="featurette-image pull-right" src="static/img/welcome/welcome-gr1.png">
        <h2 class="featurette-heading">Create power rankings</h2>
        <p class="lead">Helorank is more than a win counter. Everyone within a league is ranked by strength of schedule in addition to game outcome. Don't rely on stories alone to relay your last victory. Quantify it with Helorank. <a href="#tour">Learn about how we rank you &raquo;</a></p>
      </div>
      <hr class="hr-featurette">

      <div class="featurette">
        <img class="featurette-image pull-left" src="static/img/welcome/welcome-gr2.png">
        <h2 class="featurette-heading">Challenge friends</h2>
        <p class="lead">Helorank makes every competitive event more fun. Challenge the league leader. Root for an underdog. Go double or nothing. You can create rankings for any game you come up with. <a href="#contact">Let us know how you use Helorank &raquo;</a></p>
      </div>

      <hr class="hr-featurette">

      <div class="featurette">
        <img class="featurette-image pull-right" src="static/img/welcome/welcome-gr3.png">
        <h2 class="featurette-heading">Track every game</h2>
        <p class="lead">With Helorank, you can finally keep track of the games you play with friends. Submit a single game, a 64-team bracket or anything in between. We'll sort out the winners and losers and post the results to your dashboard. <a href="#tour">Take a tour &raquo;</a></p>
      </div>

    </div> <!-- /container -->
	  
<!--/templates-->	    
	  <div class="container"> <!--footer-->
	    <hr>
      <footer class="foot">
        <div class="row">
          <div class="span2">
            <h5>MENU</h5>
            <ul class="nav">
              <li><a href="Home">Home</a></li>
              <li><a href="Tour">How it Works</a></li>
              <li><a href="AboutUs">About Us</a></li>
              <li><a href="Contact">Contact</a></li>
            </ul>
          </div>
          <div class="span2">
            <h5>SOCIAL</h5>
            <ul class="nav">
              <li><a href="http://facebook.com/Helorank">Facebook</a></li>
              <li><a href="http://twitter.com/Helorank">Twitter</a></li>
              <li><a href="Blog">Blog</a></li>
            </ul>
          </div>
          <div class="span2">
            <h5>ETC</h5>
            <ul class="nav">
              <li><a href="Press">Press</a></li>
              <li><a href="Terms">Privacy</a></li>
              <li><a href="Terms">Terms</a></li>
            </ul>
          </div>
          <div class="span6 text-center">
            <img src="static/img/signature-300x75.png">
          </div>
        </div>
      </footer>
    </div> <!--/footer-->
   
    <script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="static/js/vendor/bootstrap.js"></script>
    <script src="static/js/main-postload.js"></script>
  </body>
</html>
