{% extends "base-external.html" %}

{% block title %}Helorank | About{% endblock %}
{% block nav-active2 %} class="active"{% endblock %}

{% block content %} 
  <div class="container">
    <h1>Contact Us</h1>
    <hr>
    <form>
      <label>Email</label>
      <input type="text" placeholder="you@gmail.com">
      <label>Write a message</label>
      <textarea rows="5"></textarea><br>
      <input type="submit" value="Sign up" class="btn" />
    </form>
  </div>   
{% endblock %}

{% block scripts %}{% endblock %}