{% extends "base.html" %}

{% block title %}Helorank | Under Construction{% endblock %}
{% block bodypad %}
  <style>
    body {
      background-color: #eeeeee;
      padding-top: 100px;
      padding-bottom: 40px;
    }
  </style>
{% endblock %}

{% block content%}
	<div class="container">
	  <div class="span8 offset2">
      <hr>
      <br>
      <h1>Helorank is under construction</h1>
      <p class="lead">To be notified when we release Helorank, please click through below. We hope to hear from you soon.</p>
      <a class="btn btn-info" href="beta">Beta Testing</a>
      <a class="btn btn-info" href="#admin-login">Admin Log in &raquo;</a>
      <a class="btn btn-danger" href="#welcome">To Testing &raquo;</a>
    </div>
  </div>
{% endblock %}
