.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  position: absolute;
}
#splash {
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: -1;
}
#splash img {
  display: block;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.helogreen {
  color: #6ade84;
}
.helogreenDark {
  color: #0abc32;
}
.heloblue {
  color: #1a44a7;
}
.heloblueLight {
  color: #71bed3;
}
.heloblueDark {
  color: #09276d;
}
.helored {
  color: #f9240d;
}
.heloyellow {
  color: #f9ab0e;
}
.carousel img {
  min-width: 100%;
}
.largerfont {
  font-size: 45pt;
}
.padding {
  padding: 30px 0;
}
.minipadding {
  padding: 0 0 20px 0;
}
.nopadding {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.splash {
  display: block;
  height: 688px;
  width: auto;
  min-width: 1020px;
  z-index: 2;
}
.foot h5,
.foot a {
  padding: 0 10px;
}
@media (min-width: 1200px) {
  .carousel-caption h4 {
    font-size: 450%;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .carousel-caption h4 {
    font-size: 350%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .carousel-caption h4 {
    font-size: 275%;
  }
}
@media (max-width: 767px) {
  .carousel-caption h4 {
    font-size: 175%;
  }
}
@media (max-width: 480px) {
  .carousel-caption h4 {
    font-size: 150%;
  }
}
